[package]
name = "vanity-ed25519"
version = "0.1.0"
edition = "2021"

[dependencies]
base64 = "0.22"
ed25519-dalek = { version = "2", features = ["pkcs8", "rand_core"] }
rand = "0.8"
rand_chacha = "0.3"
rayon = "1"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
